<div class="container-fluid">
  <!-- <h1>Login!</h1> -->
  <!-- <form (ngSubmit)="onLogin()"></form>
      <label for ="username">Username: </label>
      <input type="text">
        <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
      <label for ="password">Password: </label>
      <input type="password">
        <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
      <button class="">Login</button>
      <a routerLink="/landing"></a> -->
    <!-- </div> -->
  <h1>Register!</h1>
  <form (ngSubmit="onSubmit()")></form>
    <div>
      <label for ="username">Username: </label>
      <input type="text">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
    <div>
      <label for ="name">Name: </label>
      <input type="name">
        <div *ngIf="f.name.errors.required">Name must be more than 6 characters</div>
    </div>
    <div>
      <label for ="password">Password: </label>
      <input type="password">
        <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
    </div>
      <button class="">Register</button>
      <a routerLink="/landing"></a>
    </div>