<div>
  <h1 class="center-align">Sign up here!</h1>
  <hr>
  <form (submit)="onSubmit()">
    <div>
      <p *ngIf="dupError" style="color:red">{{ dupError }}</p>
      <label for ="username">Username: </label>
      <input type="text" name="user.username" [(ngModel)]="user.username">
      <p *ngIf="errors" style="color:red">{{ errors.username.message }}</p>
    </div>
    <div>
      <label for ="name">Name: </label>
      <input type="text" name="user.name" [(ngModel)]='user.name'>
      <p *ngIf="errors" style="color:red">{{ errors.name.message }}</p>
    </div>
    <div>
      <label for ="password">Password: </label>
      <input type="password" name="user.password" [(ngModel)]='user.password'>
      <p *ngIf="errors" style="color:red">{{ errors.password.message }}</p>
    </div>
      <button class="waves-effect waves-light btn blue">Register</button>
  </form>
  <p>Already registered? <span><a href="">Log in here!</a></span></p>
</div>