<div class="container">
  <!-- <h1>Login!</h1> -->
  <!-- <form (ngSubmit)="onSubmit()"></form> Have to change the function for login-->
      <!-- <label for ="username">Username: </label>
      <input type="text"> -->
        <!-- <div *ngIf="f.username.errors.required"></div> -->
      <!-- <label for ="password">Password: </label>
      <input type="password"> -->
        <!-- <div *ngIf="f.password.errors.required"></div> -->
      <!-- <button class="">Login</button>
      <a routerLink="/landing"></a> -->
  <h1>Register!</h1>
  <form (submit)="onSubmit()"></form>
    <div>
      <label for ="username">Username: </label>
      <input type="text">
      <!-- <div *ngIf="f.username.errors.required"></div> -->
    </div>
    <div>
      <label for ="name">Name: </label>
      <input type="text">
      <!-- <div *ngIf="f.name.errors.required"></div> -->
    </div>
    <div>
      <label for ="password">Password: </label>
      <input type="password">
        <!-- <div *ngIf="f.password.errors.required"></div> -->
    </div>
      <button class="">Register</button>
      <a routerLink="/landing"></a>
</div>